* {
  border:0;
  margin:0;
  outline:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-family: "Helvetica Neue", helvetica, arial;
  background-image: url("../img/back.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  min-height: 100vh;
}
.container__header {
  height: 2rem;
}
.container__body {
  flex: 1;
  min-height: 60vh;
}

.content {
  display: flex;
}
.content__left {
  padding: 0 10px;
  margin-left: 10px;
  width: 320px;
}
.content__center {
  flex: 1;
}
.content__right {
  padding: 0 10px;
  margin-right: 10px;
  width: 340px;
}

.tweet-list {
  border: solid 1px #eee;
}
